.product-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2%;
    margin: 20px;
    height: 200px;
    width: 40%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.product-container:hover{
    background: rgba(255, 150, 138, .2);
}

.product-img{
    height: 100%;
    width: auto;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}

.product-name{
    font-size: 20px;
    padding-bottom: 10px;
}

.product-price{
    font-size: 20px;
}

.product-btns{
    margin-top: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.control-btn{
    background: none;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 15px;
}

.control-btn:hover{
    cursor: pointer;
}

.control-btn:focus{
    outline: 0;
}

.product-edit-input{
    height: 10%;
}

.first{
    margin-bottom: 10%;
}

.product-edit-input:focus{
    outline: none;
}

