.header-section{
    width: 100%;
    height: 60px;
    background: #FF968A;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.header-title{
    padding-left: 25px;
    font-size: 30px;
    color: white;
}

.header-icon{
    color: white;
    font-size: 25px;
    margin-right: 5px;
}