.dashboard-container{
    width: 100vw;
    height: calc(100vh- 80px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

